body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .service-title, .why-us-header, .why-us-p {
    font-family: 'Work Sans', sans-serif;
}

h6 {
    font-weight: bold;
}

.navbar-brand {
    color: #28A745 !important;
    margin-left: 20px;
}

.navbar-collapse {
    margin-right: 20px;
    margin-left: 20px;
}


.body1 {
    margin-left: 20px;
    margin-right: 20px;
}

.headers {
   position: relative;
   width: 100%;
   overflow: hidden;
   margin: 0 auto;
   border-radius: 8px;
}

.headers img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    width: calc(100% - 40px)
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
}

.overlay-rest {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 15px;
}

.overlay h1 {
    color: white;
    font-weight: bold;
    margin: 0;
}

.overlay p {
    margin: 10px 0;
    color: white;
}

.btn-custom {
    background-color: #28A745;
    color: white;
}

.btn-custom:hover {
    background-color: #28A745CC;
    color: white;
}

.service-title {
    font-size: 14px;
    color: #477A9E;
}

.why-us-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #E5E8EB;
    padding: 20px;
    height: 200px;
    width: 110%;
    border-radius: 5px;
    margin: 0 auto;
}

.why-us-header {
    color: #0D171C;
    font-size: 16px;
    font-weight: 500;
    opacity: 80%;
}

.why-us-p {
   color: #477A9E; 
   font-size: 14px;
}

.review-p {
    font-size: 14px;
    color: #477A9E;
}

.review-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.quote-form {
    border: 0.5px solid #477A9E;
    border-radius: 4px;
    padding: 20px 40px !important;
}

.footer {
    border-top: 0.5px solid #477A9E;
}

.footer-contact {
    margin-left: 20px;
}

.footer-name {
    font-weight: bold;
    color: #28A745;
}

.vector {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.story-p {
    font-size: 14px;
    color: #477A9E;
}

.contact-container {
    padding: 60px;
}

h4 {
    color: #477A9E;
    opacity: 30%;
}

.services-p{
    color: #477A9E; 
    font-size: 14px;
}

.services-header{
    color: #0D171C;
    font-size: 16px;
    font-weight: 500;
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .story-img {
        max-height: 80%;
    }
    .contact-container {
        padding: 100px;
    }
}

@media (max-width: 1200px){
    .why-us-card {
        height: 280px;
    }
 }

@media (max-width: 992px){
    .why-us-card{
        max-height: 300px;
    }
    .review-img {
        max-width: 50%;
        height: auto;
    }
    .review-p {
        max-width: 70%;
    }
    .quote-form {
        max-width: 80% !important;
    }
    .story-img{
        max-height: 80%;
        display: block;
        margin: 0 auto;
       }
}

@media (max-width: 768px){
    h1 {
        font-size: 30px;
    }
    .review-img {
        max-width: 80%;
        height: auto;
    }
    .review-p {
        max-width: 80%;
    }

    .quote-form {
        max-width: 80% !important;
    }
    .story-img{
        max-height: 100%;
       }
}

@media (max-width: 600px){
    h1 {
        font-size: 20px;
        margin-top: -20px;
    }
    .overlay p {
        font-size: 14px;  
    }
    .btn-custom {
        padding: 3px 8px; 
        font-size: 12px;
    }

    .review-img {
        max-width: 100%;
        height: auto;
    }

    .why-us-card {
        width: auto;
        max-height: 200px;
    }

    .quote-form {
        max-width: 80% !important;
    }
    .services-img {
        max-width: 90%;
        height: auto;
    }
    .contact-container {
        padding: 0 40px;
    }

}
