body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .service-title, .why-us-header, .why-us-p {
    font-family: 'Work Sans', sans-serif;
}

h6 {
    font-weight: bold;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-collapse {
    margin-right: 20px;
}

.body1 {
    margin-left: 20px;
    margin-right: 20px;
}

.headers {
   position: relative;
}

.headers img {
    display: block;
    margin: 0 20;
    width: 100%;
    height: auto;
    max-height: 500px;
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
}

.overlay h1 {
    color: white;
    font-weight: bold;
    margin: 0;
}

.overlay p {
    margin: 10px 0;
    color: white;
}

.btn-custom {
    background-color: #28A745;
    color: white;
}

.btn-custom:hover {
    background-color: #28A745CC;
}

.service-title {
    font-size: 14px;
    color: #477A9E;
}

.why-us-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #E5E8EB;
    padding: 20px;
    height: 200px;
    width: 110%;
    border-radius: 5px;
    margin: 0 auto;
}

.why-us-header {
    color: #0D171C;
    font-size: 16px;
    font-weight: 500;
    opacity: 80%;
}

.why-us-p {
   color: #477A9E; 
   font-size: 14px;
}

.review-p {
    font-size: 14px;
    color: #477A9E;
}

.review-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media (max-width: 992px){
    .review-img {
        max-width: 50%;
        height: auto;
    }
    .review-p {
        max-width: 70%;
    }
}

@media (max-width: 768px){
    .review-img {
        max-width: 80%;
        height: auto;
    }
    .review-p {
        max-width: 80%;
    }
}

@media (max-width: 600px){
    h1 {
        font-size: 20px;
    }

    .review-img {
        max-width: 100%;
        height: auto;
    }
}
